@media screen and (max-width:435px) {
    .nav{
        width: fit-content;
        display: block;
    }
    .box{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: fit-content;
        .img{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .view{
        display: block;
        width: fit-content;
        align-items: center;
        justify-content: center;
        margin-left: -30px;
        margin-right: auto;
    }
    .menu{
        display: block;
        width: fit-content;
        align-items: center;
        justify-content: center;
    }
    .app{
        display: block;
        width: 130%;
        justify-content: center;
        .right{
            width: fit-content;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .left{
            width: fit-content;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .footer{
        width: 130%;
        text-align: center;
    }
}