* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #F8F1E7;
}
.nav{
    
    
    padding: 10px;
    background-color: #F8F1E7;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    .cent{
        display: flex;
        align-items: center;
        .logo{
           img{
            width: 120px;
           }
        }
        h1{
            margin-left: 340px;
            color: #502314;
        }
    }
}
.box{
    display: flex;
    margin-left: 70px;
    align-items: center;
    h1{
        color: #502314;
        margin-left: 150px;
        margin-top: 70px;
        font-size: 50px;
    }
    .button{
        button{
            background-color: #A71B00;
            color: white;
            padding: 10px;
            border-radius: 20px;
            margin-left: 150px;
            margin-top: 10px;
            width: 230px;
            font-size: 20px;
            border: none;
            span{
                padding: 20px;
            }
        }
    }
    .button1{
        button{
          background-color: #DFD2C8;
          color: #633A2C;
          padding: 10px;
          border-radius: 20px;
          margin-left: 150px;
          margin-top: 10px;
          width: 230px;
          font-size: 20px;
          border: 1px solid #9E8275;
          span{
            padding: 20px;
          }
        }
    }
    .image{
        img{
            width: 500px;
            margin-top: 30px;
            margin-left: 70px;
            border-radius: 10px;
        }
    }
}
.view{
    display: flex;
    margin-left: -30px;
    .box2{
    background-color: #FFFFFF;
    color: #502314;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
    width: 400px;
    height: 350px;
    margin-top: 30px;
    margin-left: 220px;
    border-radius: 10px;
    overflow: hidden;
    img{
        width: 400px;
        height: 200px;
        
    }
    h3{
        font-size: 15px;
        margin-left: 20px;
        margin-top: 5px;
    }
    p{
        font-size: 10px;
        margin-left: 20px;
        margin-top: 5px;
    }
    a{
        font-size: 10px;
        color: #522516;
        margin-left: 20px;
    }
    button{
        background-color: #E5DEDC;
        border-radius: 20px;
        border: none;
        padding: 10px;
        color: #502314;
        margin-top: 23px;
        margin-left: 280px;
    }
}
.box3{
      background-color: #FFFFFF;
    color: #502314;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
    width: 400px;
    height: 350px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 10px;
    overflow: hidden;
    img{
        width: 400px;
        height: 200px;
        
    }
    h3{
        font-size: 15px;
        margin-left: 20px;
        margin-top: 5px;
    }
    p{
        font-size: 10px;
        margin-left: 20px;
        margin-top: 5px;
    }
    a{
        font-size: 10px;
        color: #522516;
        margin-left: 20px;
    }
    button{
        background-color: #E5DEDC;
        border-radius: 20px;
        border: none;
        padding: 10px;
        color: #502314;
        margin-top: 30px;
        margin-left: 300px;
    }
}
}
.app{
    display: flex;
    color: #502314;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    .left{
        img{
            width: 350px;
        }
    }
    .right{
        h1{
            margin-top: 70px;
        }
        img{
            width: 300px;
            margin-top: 30px;
        }
        p{
           font-size: 10px;
           margin-top: 30px; 
        }
    }
}
.footer{
    background-color: #502314;
    color: white;
    padding: 20px;
    font-size: 10px;
}